pipeline/SCCUPROD_MetaDB_DynamicRetention.json
{
	"name": "SCCUPROD_MetaDB_DynamicRetention",
	"properties": {
		"activities": [
			{
				"name": "MetaDB_Archive_LookUp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='MetaDb' AND IsArchiveEnabled=1 AND ArchiveDays > 0",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SCCUPROD_ArchiveSqlDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Archive_ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "MetaDB_Archive_LookUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MetaDB_Archive_LookUp').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "CheckRowCount",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlMISource",
									"sqlReaderQuery": {
										"value": "SELECT count(1) as 'RecordCount' FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SCCUPROD_MetaDB_Source",
									"type": "DatasetReference",
									"parameters": {
										"SourceDB": "@item().SourceDBName",
										"SourceTable": "@item().SourceTableName",
										"SourceSchema": "@item().SourceSchemaName"
									}
								}
							}
						},
						{
							"name": "If Record exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckRowCount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('CheckRowCount').output.firstRow['RecordCount'],0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "MetaDB_Script",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "MetaDB_Copy data",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCCU_Metadb_PROD",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "DELETE  FROM @{item().SourceSchemaName}.@{item().SourceTableName}  WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))\n\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "MetaDB_Copy data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 3,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SCCUPROD_MetaDB_Source",
												"type": "DatasetReference",
												"parameters": {
													"SourceDB": "@item().SourceDBName",
													"SourceTable": "@item().SourceTableName",
													"SourceSchema": "@item().SourceSchemaName"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Archive_Destination",
												"type": "DatasetReference",
												"parameters": {
													"DestinationTable": "@item().DestinationTableName",
													"DestinationSchema": "@item().DestinationSchemaName"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "METADB_Purge_LookUp",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Archive_ForEach",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='MetaDb' AND IsPurgeEnabled=1 AND PurgeDays > 0",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SCCUPROD_ArchiveSqlDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Purge_ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "METADB_Purge_LookUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('METADB_Purge_LookUp').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "MetaDb_Purge_Script",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SCCU_Archivedb_PROD_DTU",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "DELETE  FROM @{item().DestinationSchemaName}.@{item().DestinationTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().PurgeDays}, CAST(GETDATE() AS DATE))",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "MetaDB_DeleteTokens",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Archive_ForEach",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCCU_Metadb_PROD",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Declare @userAPI varchar(36)\nset @userAPI=(select objectguid from userobjects with (readpast) where sAMAccountName='APIPUSHUSER');\n \nDeclare @startDate datetime=getDate();\nprint @startDate\nDECLARE @done bit = 0;  \nWHILE (@done = 0)  \nBEGIN  \n    DELETE TOP(5000)\n\tFROM RefreshTokens with (ROWLOCK)\n\tWHERE ExpiresUtc < GETUTCDATE() or UserId=@userAPI\n    IF @@rowcount < 1 SET @done = 1;  \n\tWAITFOR DELAY '00:00:02';\nEND; ",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "MetaDB_DeleteOther",
				"description": "Token, TempUserLoginValidations, NF_UserConnections",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "MetaDB_DeleteTokens",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCCU_Metadb_PROD",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "\nDELETE\tFROM RefreshTokens with (ROWLOCK)\n\tWHERE ExpiresUtc < GETUTCDATE()\n\nDELETE FROM [dbo].[NF_UserConnections] with (ROWLOCK)\n\tWHERE CreatedDate <= DATEADD(DAY, -2, CAST(GETDATE() AS DATE))\n \nDELETE\tFROM TempUserLoginValidations with (ROWLOCK)\n\t\tWHERE [IsDeleted]=1",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "RebuildIndex",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "MetaDB_DeleteOther",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_RebuildIndex]"
				},
				"linkedServiceName": {
					"referenceName": "SCCU_Metadb_PROD",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Statistics",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RebuildIndex",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateStatistics]"
				},
				"linkedServiceName": {
					"referenceName": "SCCU_Metadb_PROD",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "DataRetention"
		},
		"annotations": []
	}
}